@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-clr: #121212
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-clr);
}

.homeScreen{
    width: 70%;
}

.logo_searchBar{
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

.logo{
    width: 150px;
}

.search{
    background-color: #262626;
    height: 35px;
    width: 250px;
    padding-left: 20px;
    margin-top: 11px;
    /* margin: auto; */
    border-radius: 7px;
}

.heart{
    color: white;
    width: 30px;
}

p{
    width: 100%;
    height: 1px;
    background-color: #262626;
}

.stories{
    height: 100px;
    border-radius: 9px;
    border: 1px solid #262626;
    padding: 20px;
    display: flex ;
    align-items: center;
    margin-top: 80px;
    width: 480px;
    margin-inline: auto;
    /* overflow: hidden; */
    /* justify-content: center; */
}

.posts{
    width: 480px;
    margin-inline: auto;
}

.profImg{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.profName{
    color: white;
    background-color: none;
    height: 4px;
    padding-left: 6px;
}

li{
    padding: 10px;
}

.postProfImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.Posts{
    border-radius: 9px;
    border: 1px solid #262626;
    /* padding: 10px; */
    /* display: flex;
    justify-content: space-between; */
    /* position: absolute; */
}

.postProfName{
    color: #fafafafa;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.options{
    gap: 3px;
}

div>.optionDotss{
    background-color: #fafafa;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: auto;
}

.postImg{
    /* position: absolute; */
    border-radius: 1px;
    width: 477px;
    height: 700px;
}

.footer_element{
    justify-content: space-between;
}

.first3{
    display: flex;
    /* justify-content: space-between; */
    color: #fafafa;
    gap: 10px;
    margin: 10px 10px 0px
}

.last1{
    color: #fafafa;
    margin: 5px 10px 10px 10px;
}

.description>.likes{
    color: #fafafa;
    margin: 5px 7px 10px;
    font-weight: 700;
    display: block;
}

.description>.desc,.descInfo{
    color: #fafafa;
    margin: 5px 0px 10px 7px;
}

.nav{
    background-color: black;
    height: 50px;
    bottom: 0px;
    width: 100%;
}

.navIcons{
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navIcons>.navprof{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}


/* .sideMenu{
    width: 50px;
    margin-top: 100px;
    background-color: black;
    /* display: block;
}*/

.sideOptions>li{
    color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
} 

.sideMenu{
    /* border-radius: 5px; */
    height: 100%;
    box-shadow: 1px 0px #262626;
}

.sideBar{
    height: 100%;
    width: 70px;
    position: fixed;
}

.sideOptions>li>.InstaLogo{
    margin-top: 20px;
    margin-bottom: 50px;
}

.sideOptions>li>.hamburger{
    margin-top: 20px;
}

.sideOptions>li>.sideProf{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.myProfile>.mySugProf{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.profileSuggestions{
    margin-top: 55px;
    width: 21%;
}

.myProfile>.name>.sugProfName{
    color: #fafafa;
    font-weight:500;
    margin-top: 10px;
    margin-left: 10px;
}

.myProfile>.name>.sugProfName2{
    color: #a8a8a8;
    /* font-weight: 700; */
    font-size: 15px;
    margin-top: -5px;
    margin-left: 10px;
}

.myProfile>.switch{
    color: #0095F6;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 30px;
}

.suggestions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}

.suggestions>.suggest{
    color: #a8a8a8;
    font-weight:500;
    margin-right: 20px;
}

.suggestions>.seeAll{
    color: white;
    font-weight:500;
}

.moreNames{
    margin-top: 10px;
    margin-bottom: 10px;
}

.help{
    color: #a8a8a8;
    margin: 5px;
    font-size: 12px;
}

/* Media Queries */

@media only screen and (max-width: 767px){
    .sideBar{
        display: none;
    }
}

@media only screen and (max-width: 999px){
    .profileSuggestions{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .logo_searchBar {
      display: none;
    }
    
    .nav{
        display: none;
    }

    .stories{
        margin-top: 10px;
        width: 480px;
        margin-inline: auto;
    }

    .posts{
        width: 480px;
        margin-inline: auto;
    }

    .sideOptions>li>.hamburger{
        margin-top: 30px;
    }
  }